<div class="row">
    <div class="col-xs-12">
        <div class="md-card animated zoomIn">
            <div class="md-card__title">
                <h2 class="md-card__title-text">Lista Usuario Gestion Pedido</h2>
            </div>
            <div class="md-card__supporting-text">
                <div class="table-responsive">
                    <table class="md-table table" id="tbACC">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Usuario</th>
                                <th>Rol</th>
                                <th>Correo</th>
                                <th class="text-center" style="padding-left: 0px;
        
                                text-align: center;">Editar</th>
                                <th class="text-center" style="padding-left: 0px;
                                text-align: center;">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr ng-repeat="lsU in ctrl.lsUsuario | filter:ctrl.paginate() "> -->
                            <tr ng-repeat="lsU in ctrl.lsUsuario">
                                <td>{{lsU.noNombre}}</td>
                                <td>{{lsU.noApellido}}</td>
                                <td>{{lsU.noLogin}}</td>
                                <td>{{lsU.noRol}}</td>
                                <td>{{lsU.email}}</td>
                                <td style="padding-left: 0px;
                                text-align: center;">
                                    <button class="md-button md-button--icon" ng-click="ctrl.onSaveUsuario( ctrl.frmData.update, lsU.idUsuario )">
                                        <i class="mdi mdi-pencil"></i>
                                    </button>
                                </td>
                                <td style="padding-left: 0px;
                                text-align: center;">
                                    <button class="md-button md-button--icon" ng-click="ctrl.onEliminarUsuario( lsU.idUsuario )">
                                        <i class="mdi mdi-delete"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <div uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" max-size="5" boundary-links="true" items-per-page="ctrl.numPerPage" class="pagination-sm"
                                        first-text="&laquo;"
                                        previous-text="&lsaquo;"
                                        next-text="&rsaquo;"
                                        last-text="&raquo;">
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="md-card__menu">
                    <button class="md-button" tooltip-placement="left" ng-click="ctrl.onSaveUsuario( ctrl.frmData.add )">
                        <label class="">Agregar nuevo usuario</label>
                        <i class="mdi mdi-account-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
