

.info{
    .glyphicon-refresh{
        animation: .4s rotate linear infinite;
        -webkit-animation: .4s rotate linear infinite;
        -moz-animation: .4s rotate linear infinite;
        -o-animation: .4s rotate linear infinite;
    }

}