.inputstyle {
  font-size: 8pt;
  background-color: #00FF00;
}

.modal-ringGroup {
  .has-error {
    .input-group-btn {
      button {
        border-color: #a94442;
      }
    }
  }

  .form-group {
    display: inline-block;
    width: 100%;
  }
  /***/
  .panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .panel-group .panel {
    overflow: visible;
  }

  .panel .panel-body {
    font-size: 13px;
  }

  .panel .panel-title > a:hover {
    text-decoration: none;
  }

  .accordion .panel .panel-heading {
    padding: 0;
  }

  .accordion .panel .panel-title {
    padding: 0;
  }

  .accordion .panel .panel-title .accordion-toggle {
    display: block;
    padding: 10px 15px;
  }

  .accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled {
    background: url("../img/accordion-plusminus.png") no-repeat;
    background-position: right -19px;
    margin-right: 15px;
  }

  .accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled.collapsed {
    background-position: right 12px;
  }
  /***/
  .tags {
    margin-top: 10px;

  }

  .tags .tag {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
    background-color: #2BAED4;
  }

  .tag .close {
    font-size: 14px;
    margin-left: 5px;
  }
  



}
