.seguridad-crud {
    .chk-activo {
        margin-top: 29px;        
    }
    .listapagina {
        color: #565454;
        .dataHijo {
            margin-left: 10px;
        }
        .borde {
            border: 1px solid;
            border-color: #D8D0CF;
            display: inline-block;
            width: 100%;
            margin: 5px 0px;
            padding: 10px 5px;
        }
    }
}
