<div ng-controller="excelPermisosUsuarioCtrl as archivoCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="md-card animated fadeInUp">

                <div class="md-card__title">
                    <h2 class="md-card__title-text">Descarga de plantilla</h2>
                </div>

                <div class="md-card__supporting-text">
 
                        <div class="row">
                            <div class="col-md-2">
                                <div class="btn-group">
                                  <a>
                                    <button type="button" class="md-button" ng-click="archivoCtrl.atras()"> Atras</button>
                                  </a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group">
                                    <button class="md-button" ng-click="archivoCtrl.descargaArchivo()">Descarga
                                        <i class="mdi mdi-download"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
