<div class="md-card">
    <form name="formMascota">
        <div class="md-card__title">
            <h2 class="md-card__title-text">{{Ctrl.frmData.name_page_title}}</h4>
        </div>

        <div class="md-card__supporting-text">
            <div class="row">
                <div class="col-sm-12 md-card__row-title">{{Ctrl.frmData.name_content}}</div>
                <div class="col-sm-6">
                    <div class="md-textfield" ng-class="{ 'is-dirty': Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noNombre.length > 0,'is-invalid': formMascota.noMascota.$touched && formMascota.noMascota.$invalid}">
                        <input type="text" ng-pattern="/^[a-zA-Z ]+$/" onkeypress='return event.charCode < 48 || event.charCode > 57' name="noMascota"
                            class="md-textfield__input" maxlength="15" ng-model="Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noNombre"
                            required>
                        <label class="md-textfield__label" for="noMascota">Nombre*</label>
                        <span class="md-textfield__error" ng-show="formMascota.noMascota.$touched && formMascota.noMascota.$invalid">*campo alfabético de requerido.</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-textfield" ng-class="{ 'is-dirty': Ctrl.frmData.Mascota.registrarActualizar.request.mascota.nuEdad.length > 0,'is-invalid': formMascota.nuEdad.$touched && formMascota.nuEdad.$invalid}">
                        <input type="text" ng-pattern="/^[0-9]/" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="md-textfield__input"
                            name="nuEdad" ng-model="Ctrl.frmData.Mascota.registrarActualizar.request.mascota.nuEdad" maxlength="2"
                            required>
                        <label class="md-textfield__label" for="nuEdad">Edad</label>
                        <span class="md-textfield__error" ng-show="formMascota.nuEdad.$touched && formMascota.nuEdad.$invalid">*nro de edad válida requerido.</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-textfield" ng-class="{ 'is-dirty': Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noColor.length > 0,'is-invalid': formMascota.noColor.$touched && formMascota.noColor.$invalid}">
                        <input type="text" ng-pattern="/^[a-zA-Z ]+$/" maxlength="15" name="noColor" class="md-textfield__input" ng-model="Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noColor"
                            required>
                        <label class="md-textfield__label" for="noColor">Color*</label>
                        <span class="md-textfield__error" ng-show="formMascota.noColor.$touched && formMascota.noColor.$invalid">*campo alfabético requerido.</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-textfield" ng-class="{ 'is-dirty': Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noSeniasParticulares.length > 0,'is-invalid': formMascota.noSenias.$touched && formMascota.noSenias.$invalid}">
                        <input type="text" ng-pattern="/^[a-zA-Z ]+$/" maxlength="25" name="noSenias" class="md-textfield__input" ng-model="Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noSeniasParticulares"
                            required>
                        <label class="md-textfield__label" for="noSenias">Señas Particulares*</label>
                        <span class="md-textfield__error" ng-show="formMascota.noSenias.$touched && formMascota.noSenias.$invalid">*campo alfabético requerido.</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="md-select" ng-class="{ 'is-dirty':Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noSexo.length > 0,'is-invalid': formMascota.tipoSexo.$touched && formMascota.tipoSexo.$invalid}">
                        <select class="md-select__input" name="tipoSexo" ng-change="Ctrl.combochangeSexo(Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noSexo)"
                            ng-model="Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noSexo" ng-options="tiposSexo as tiposSexo.noSexo for tiposSexo in Ctrl.comboTipoSexo"
                            required>
                            <option ng-show="false" value="" selected="true">{{Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noSexo}}</option>
                        </select>
                        <label class="md-select__label" for="tipoSexo">Sexo*</label>
                        <span class="md-textfield__error" ng-show="formMascota.tipoSexo.$touched && formMascota.tipoSexo.$invalid">*Sexo requerido.</span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="md-select" ng-class="{ 'is-dirty':Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noEspecie.length > 0,'is-invalid': formMascota.tipoEspecie.$touched && formMascota.tipoEspecie.$invalid}">
                        <select class="md-select__input" name="tipoEspecie" ng-change="Ctrl.combochangeEspecie(Ctrl.frmData.Mascota.registrarActualizar.request.mascota.idEspecie)"
                            ng-model="Ctrl.frmData.Mascota.registrarActualizar.request.mascota.idEspecie" ng-options="tiposEspecie as tiposEspecie.noEspecie for tiposEspecie in Ctrl.comboEspecie"
                            required>
                            <option ng-show="false" value="" selected="true">{{Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noEspecie}}</option>
                        </select>
                        <label class="md-select__label" for="tipoEspecie">Especie*</label>
                        <span class="md-textfield__error" ng-show="formMascota.tipoEspecie.$touched && formMascota.tipoEspecie.$invalid">*Especie requerida.</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-select" ng-class="{ 'is-dirty':Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noRaza.length > 0,'is-invalid': formMascota.tipoRaza.$touched && formMascota.tipoRaza.$invalid}">
                        <select class="md-select__input" name="tipoRaza" ng-change="Ctrl.combochangeRaza(Ctrl.frmData.Mascota.registrarActualizar.request.mascota.idRaza)"
                            ng-model="Ctrl.frmData.Mascota.registrarActualizar.request.mascota.idRaza" ng-options="tiposRaza as tiposRaza.noRaza for tiposRaza in Ctrl.comboRaza"
                            required>
                            <option ng-show="false" value="" selected="true">{{Ctrl.frmData.Mascota.registrarActualizar.request.mascota.noRaza}}</option>
                        </select>
                        <label class="md-select__label" for="tipoRaza">Raza*</label>
                        <span class="md-textfield__error" ng-show="formMascota.tipoRaza.$touched && formMascota.tipoRaza.$invalid">*Raza requerida.</span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-textfield" ng-class="{ 'is-dirty': Ctrl.frmData.Mascota.registrarActualizar.request.mascota.feNacimiento.length > 0,'is-invalid': formMascota.fNac.$touched && formMascota.fNac.$invalid}">
                        <input type="text" name="fNac" ng-pattern="" class="md-textfield__input"
                            ng-model="Ctrl.frmData.Mascota.registrarActualizar.request.mascota.feNacimiento" maxlength="10" required>
                        <label class="md-textfield__label" for="fNac">F.Nacimiento*</label>
                        <span class="md-textfield__error" ng-show="formMascota.fNac.$touched && formMascota.fNac.$invalid">*fecha válida requerido.</span>
                    </div>
                </div>
                <div class="col-sm-6" >
                    <div class="md-textfield"
                        ng-class="{ 'is-dirty': Ctrl.frmData.Mascota.registrarActualizar.request.mascota.nuChip.length > 0,'is-invalid': formMascota.nuChip.$touched && formMascota.nuChip.$invalid}">
                        <input type="text" ng-pattern="/^[0-9]/"
                            onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="md-textfield__input"
                            name="nuChip" ng-model="Ctrl.frmData.Mascota.registrarActualizar.request.mascota.nuChip"
                            maxlength="11" required>
                        <label class="md-textfield__label" for="nuChip">N°Chip</label>
                        <span class="md-textfield__error"
                            ng-show="formMascota.nuChip.$touched && formMascota.nuChip.$invalid">*nro de chip válido
                            requerido.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card__menu">
            <button class="md-button md-button--icon" data-dismiss="modal" ng-click="Ctrl.cancel()">
                <i class="mdi mdi-close"></i>
            </button>
        </div>
        <div class="md-card__actions text-right">
            <button type="button" class="md-button" ng-disabled='!formMascota.$valid' ng-click="Ctrl.raMascota()">Guardar</button>
        </div>
    </form>
</div>