<form class="row" name="formEH">
    <div class="col-xs-12">
        <div class="md-card animated fadeInUp">
            <div class="md-card__title">
                <h2 class="md-card__title-text">{{Ctrl.frmData.name_page_title}}</h2>
            </div>
            <div class="md-card__supporting-text md-overflow">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="md-select" ng-class="{ 'is-dirty' : Ctrl.frmData.reporte.listarEntranteHora.request.nombreCola > 0,'is-invalid' : formEH.selectCola.$invalid || formEH.selectCola.$touched && formEH.selectCola.$error.required }">
                                <select class="md-select__input" name="selectCola" ng-model="Ctrl.frmData.reporte.listarEntranteHora.request" ng-options="nombreCola as nombreCola.name for nombreCola in Ctrl.lsCola track by nombreCola.idQueues"
                                    ng-required="true" ng-change="Ctrl.validateCola()">
                                </select>
                                <label class="md-select__label">Seleccione una cola</label>
                                <small class="md-textfield__error" ng-show="formEH.selectCola.$invalid || formEH.selectCola.$touched && formEH.selectCola.$error.required">{{Ctrl.frmData.msjError.colas}}</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <datepicker date-format="dd-MM-yyyy" selector="calendar-inicio-textfield" button-prev="<i class='mdi mdi-arrow-left'></i>"
                                button-next="<i class='mdi mdi-arrow-right'></i>" datepicker-toggle="true">
                                <div class="md-textfield" ng-class="{'is-dirty' : Ctrl.dt ,'is-invalid' : formEH.feIni.$invalid || formEH.feIni.$touched && formEH.feIni.$error.required}">
                                    <input type="text" id="feIni" name="feIni" class="calendar-inicio-textfield md-textfield__input" ng-model="Ctrl.dt"
                                    ng-change="Ctrl.validateDateIni()" input-date-validator uib-datepicker-popup="dd-MM-yyyy"
                                        ng-required="true">
                                    <button class="md-button-input">
                                        <i class="mdi mdi-calendar"></i>
                                    </button>
                                    <label class="md-textfield__label">Fecha Inicio</label>
                                    <small class="md-textfield__error" ng-show="formEH.feIni.$invalid">{{Ctrl.frmData.msjError.feIni}}</small>
                                </div>
                            </datepicker>
                        </div>
                        <div class="col-md-4">
                            <datepicker date-format="dd-MM-yyyy" selector="calendar-inicio-textfield" button-prev="<i class='mdi mdi-arrow-left'></i>"
                                button-next="<i class='mdi mdi-arrow-right'></i>" datepicker-toggle="true">
                                <div class="md-textfield" ng-class="{'is-dirty' : Ctrl.dtf ,'is-invalid' : formEH.feFin.$invalid || formEH.feFin.$touched && formEH.feFin.$error.required}">
                                    <input id="feFin" name="feFin" type="text"  class="calendar-inicio-textfield md-textfield__input" ng-model="Ctrl.dtf"
                                    ng-change="Ctrl.validateDateFin()" input-date-validator uib-datepicker-popup="dd-MM-yyyy"
                                        ng-required="true">
                                    <button class="md-button-input">
                                        <i class="mdi mdi-calendar"></i>
                                    </button>
                                    <label class="md-textfield__label">Fecha Fin</label>
                                    <small class="md-textfield__error" ng-show="formEH.feIni.$invalid">{{Ctrl.frmData.msjError.feFin}}</small>
                                </div>
                            </datepicker>
                        </div>                        
                        <div class="col-md-12">
                            <button class="md-button" ng-click="Ctrl.BuscarEntrantesPorHora()" ng-disabled="Ctrl.frmData.habFinal">
                                <i class="mdi mdi-magnify"></i> Buscar
                            </button>
                            <div class="pull-right" ng-hide='Ctrl.menuState.show'>
                                <button class="md-button dropdown-toggle" data-toggle="dropdown">Exportar
                                    <i class="mdi mdi-chevron-double-down"></i>
                                </button>
                                <ul class="dropdown-menu md-dropdown-menu">
                                    <li>
                                        <a href="" ng-click="Ctrl.descargarDocumento(Ctrl.excelVal)">
                                            <i class="mdi mdi-file-excel" ></i>Excel</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="Ctrl.descargarDocumento(Ctrl.pdfVal)">
                                            <i class="mdi mdi-file-pdf" ></i>PDF</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="row-fluid" ng-hide=Ctrl.frmData.show.text>
                            <h5>{{Ctrl.frmData.texto}}</h5>
                        </div>
                        <div class="table-responsive" ng-hide=Ctrl.frmData.show.table>
                            <table st-table="Ctrl.lsEntrantesPorHora" class="md-table table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Cola</th>
                                        <th class="text-center">Hora</th>
                                        <th class="text-center">Nro. Entrantes</th>
                                        <th class="text-center">Nro. Atendido</th>
                                        <th class="text-center">Nro. Abandono</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in Ctrl.lsEntrantesPorHora">
                                        <td class="text-center">{{row.idQueueName}}</td>
                                        <td class="text-center">{{row.noQueueName}}</td>
                                        <td class="text-center">{{row.hora}}</td>
                                        <td class="text-center">{{row.entrante}}</td>
                                        <td class="text-center">{{row.atendido}}</td>
                                        <td class="text-center">{{row.abandono}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!-- Gráfico -->
                <div class="row-fluid">
                    <div class="col-md-12" id="bar-chart" ng-hide=Ctrl.frmData.show.graphs>
                        <div class="row">
                            <div class="panel with-scroll animated zoomIn">
                                <div class="panel-heading">Gráfico Llamadas</div>
                                <div class="panel-body">
                                    <canvas id="bar" class="chart chart-bar" chart-data="Ctrl.DataArray" chart-labels="Ctrl.labelList" chart-series="Ctrl.serialList"
                                        chart-options="Ctrl.options">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>