<div class="justify-content-center">
    <div class="fluid-container">
        <div class="row">
            <h2 class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 "><b class="high">pivo</b><br>Bienvenido a nuestra plataforma integral</br></h2>                
            <div class= "col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                <div class="md-card">
                    <div class="md-card__supporting-text">
                        <div class= "col-xs-12">
                            <div class="grid__content">
                                <h1><b class="high">Pivo </b> Residencias Caninas</h1>
                                <div class="grid__description">
                                    <p>Compara entre más de 600 residencias caninas, atendidas y gestionadas por profesionales cualificados en el mundo del perro.</p>
                                    <p>¡Haz tu reserva online y benefíciate de todos los descuentos!</p>
                                    <p>Compara entre nuestra selección de residencias caninas, hasta encontrar la ideal para tu perro.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class= "col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                <div class="md-card">
                    <div class="md-card__supporting-text">
                        <div class= "col-xs-12">
                            <div class="grid__content">
                                    <h1><b class="high">Pivo </b> Veterinarios</h1>
                                <div class="grid__description">
                                    <p>Descubre los centros vererinarios en tu ciudad, barrio o código postal. Encontrarás toda la información que necesites para poder contactar con el veterinario que más desees.</p>
                                    <p>Usa nuestro mapa en la sección de veterinarios para escoger tu veterinario entre los miles de veterinarios en todo el país.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
