<span class="md-textfield__error" ng-message="required">*Campo Requerido</span>
<span class="md-textfield__error" ng-message="originCall">*adadsa</span>
<span class="md-textfield__error" ng-message="minlength">*Campo muy corto</span>
<span class="md-textfield__error" ng-message="maxlength">*Campo demasiado largo</span>
<span class="md-textfield__error" ng-message="searchingAnnex">Verificando anexo...</span>
<span class="md-textfield__error" ng-message="annexIncorrectFormat">Debe ser numérico, sin espacios, entre 3 a 6 dígitos y no comenzar en cero</span>
<span class="md-textfield__error" ng-message="numericText">Debe ser un valor numérico</span>
<span class="md-textfield__error" ng-message="annexNotAvailable">El número de anexo ya está en uso</span>
<span class="md-textfield__error" ng-message="email">Esto debe ser un email</span>
<span class="md-textfield__error" ng-message="mac-required">*MAC no debe estar vacía</span>
<span class="md-textfield__error" ng-message="mac-lower">Debe estar en minúsculas, sin espacios y tener 12 caracteres entre dígitos del 1 al 9 y letras de la 'a' a la 'f'. Ejm.: f0e1d2c3b4a5</span>
<span class="md-textfield__error" ng-message="mac-upper">Debe estar en mayúsculas, sin espacios y tener 12 caracteres entre dígitos del 1 al 9 y letras de la 'A' a la 'F'. Ejm.: F0E1D2C3B4A5</span>
