<div class="row">
    <div class="col-xs-12">
        <div class="md-card animated fadeInUp">
            <div class="md-card__title">
                <h2 class="md-card__title-text">Lista de Clientes</h2>
            </div>
            <div class="md-card__supporting-text">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-textfield" ng-class="{ 'is-dirty' : Ctrl.frmData.listaClientes.request.BuscaEli.pNoRazon.length > 0 }">
                            <input type="text" class="md-textfield__input" name="username" ng-model="Ctrl.frmData.listaClientes.request.BuscaEli.pNoRazon"
                                ng-change="Ctrl.listaClientes()">
                            <label class="md-textfield__label">Razón Social</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-textfield" ng-class="{ 'is-dirty' : Ctrl.frmData.listaClientes.request.BuscaEli.pNudocide.length > 0 }">
                            <input type="text" class="md-textfield__input" type="number" ng-model="Ctrl.frmData.listaClientes.request.BuscaEli.pNudocide"
                                required onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-change="Ctrl.listaClientes()">
                            <label class="md-textfield__label">RUC</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-select" ng-class="{ 'is-dirty' : Ctrl.scope.frmData.listaClientes.request.pEstado.length>0 }">
                            <select type="text" class="md-select__input" ng-change="Ctrl.combochange(Ctrl.scope.frmData.listaClientes.request.pEstado)"
                                ng-model="Ctrl.scope.frmData.listaClientes.request.pEstado" ng-options="estados as estados.value for estados in Ctrl.itemComboConstantsEstado">
                                <option ng-show="false" value="" selected="true"></option>
                            </select>
                            <label class="md-select__label">Estado</label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="md-table table" id="tbCliente">
                        <thead>
                            <tr>
                                <th class="text-center">No Razón Social</th>
                                <th class="text-center">Tipo Doc</th>
                                <th class="text-center">NºDocumento</th>
                                <th class="text-center">Dirección</th>
                                <th class="text-center">Teléfono</th>
                                <th class="text-center">Correo</th>
                                <th class="text-center">N°Centrales</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Datos de Contacto</th>
                                <th class="text-center">Ver Pedidos</th>
                                <th class="text-center">Agregar Pedidos</th>
                                <th class="text-center">Editar</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cli in Ctrl.lsCliente | filter:Ctrl.paginate">
                                <td class="text-center">{{cli.noRazonSocial}}</td>
                                <td class="text-center">{{cli.noTipo}}</td>
                                <td class="text-center">{{cli.ruc}}</td>
                                <td class="text-center">{{cli.direcc}}</td>
                                <td class="text-center">{{cli.telef}}</td>
                                <td class="text-center">{{cli.correoEle}}</td>
                                <td class="text-center">{{cli.nuCentrales}}</td>
                                <td class="text-center">
                                    <div class="md-checkbox__toggle is-disabled">
                                        <input class="tgl tgl-ios" id="estado{{$index}}" type="checkbox" ng-model="Ctrl.enable" disabled/>
                                        <label class="tgl-btn" for="estado{{$index}}"></label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <button class="md-button md-button--icon"  uib-tooltip="Ver Detalle" ng-click="Ctrl.consultarCliente(cli.idCliente,cli.estado)">
                                        <i class="mdi mdi-account-card-details"></i>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="md-button md-button--icon" ng-click="Ctrl.verPedidos(cli.idCliente,cli.estado)" uib-tooltip="Ver Pedidos">
                                        <i class="mdi mdi-eye" aria-hidden="true" ></i>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="md-button md-button--icon" ng-click="Ctrl.openModalAgregarPedido(cli.idCliente)"uib-tooltip="Agregar Pedido">
                                        <i class="mdi mdi-plus-circle-outline" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="md-button md-button--icon" ng-click="Ctrl.raCliente(cli.idCliente,cli.estado)"uib-tooltip="Editar">
                                        <i class="mdi mdi-pencil" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td ng-show=Ctrl.mostrar class="text-center">
                                    <button class="md-button md-button--icon" ng-click="Ctrl.eliminarCliente(cli.idCliente)"uib-tooltip="Eliminar">
                                        <i class="mdi mdi-delete" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="13" class="text-center">
                                    <div uib-pagination total-items="Ctrl.totalItems" ng-model="Ctrl.currentPage" max-size="5" boundary-links="true" items-per-page="Ctrl.numPerPage"
                                        class="pagination-sm" first-text="&laquo;" previous-text="&lsaquo;" next-text="&rsaquo;"
                                        last-text="&raquo;">
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="md-card__menu">
                <button class="md-button" ng-click="Ctrl.raCliente()">

                    <label class="">Agregar nuevo cliente</label>
                    <i class="mdi mdi-account-plus"></i>

                </button>
            </div>
        </div>
    </div>
</div>